.medicamentos-list-table{
    color: white;
    border-collapse: collapse;
    width: 100%;
}
.medicamentos-list-table th, td{
    padding: 0.3rem 1rem;


}
.medicamentos-list-table th{
    border-block: 1px solid var(--secondary-color);
}

.medicamentos-list-table tr{
    border-block: 2px solid black;
}
.sub-select{
    margin-top: 3rem;
    width: 40rem;
    overflow: hidden;
    color: white;
    background-color: var(--primary-color);
    height: fit-content;
    padding: 1rem;
}
.pacientes-table{
    white-space: nowrap;
    border-collapse: collapse;
    width: 100%;
}
.pacientes-table thead tr{
    
    border-block: 2px solid black;
}
.last-saida{
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    color: white;
    background-color: var(--primary-color);
    height: 8rem;
    width: 20rem;
    right: 2rem;
    top: 3rem;
    transform: translate(0, -50%);
    animation: pop-right 0.2s ease forwards;
}

@keyframes pop-right {
    0%{
        transform: translate(200%, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}
.infos{
    text-align: left;
    padding: 0.5rem;
}